---
---

@import "{{ site.theme }}";

img[src~="profile"] {
   width:250px;
   height:250px;
   border-radius: 50%;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 10px;
   margin-right: 50px;
   float: left;
}
img[src~="bordered"] {
   border: 1px solid black;
}

img[src*="#gsoc"] {
   width: 250px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 10px;
   margin-right: 50px;
   border: 1px solid black;
   float: left;
}
